extend ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block content

    div.row
        div.col-lg-3
            include ../includes/menu.pug


        div.col-lg-9
            .row
                if products.length > 0
                    each product in products
                        +createProduct(product)
                else
                    h1 No Products